<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="restaurant-db"/>
        <property name="dataSource" ref="dataSource" />
        <!--<property name="packagesToScan" value="mainpackage" />-->
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>

    </bean>

    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="generateDdl" value="true"/>
        <!--<property name="hbm2ddl.auto" value="create-drop"/>-->
        <property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="user" value="C##david2"/>
        <property name="password" value="davidko"/>
        <property name="driverClass" value="oracle.jdbc.OracleDriver"/>
        <property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:ORCL"/>
        <!-- Number of Connections a pool will try to acquire upon startup. -->
        <property name="initialPoolSize" value="5"/>
        <!-- Maximum number of Connections a pool will maintain at any given time. -->
        <property name="maxPoolSize" value="10"/>
        <!-- Minimum number of Connections a pool will maintain at any given time. -->
        <property name="minPoolSize" value="5"/>
        <property name="acquireRetryAttempts" value="2"/>
        <property name="breakAfterAcquireFailure" value="true"/>
    </bean>

    <!--<bean id="foodDao" class="mainpackage.FoodDaoImpl"></bean>-->

    <!-- Enables annotation-driven transaction management. -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <context:annotation-config/>
    <context:component-scan base-package="mainpackage"/>
</beans>
